<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Интернет-магазин</title>
</head>
<body >
    <div id="app">
        <header>
            <div class="stableHeader">
                <div class="logo">E-shop</div>
                <div class="rightBlockHeader flex-center">
                     <form action="#" class="search-form ">
                        <input type="text" class="search-field" v-model="userSearch">
                        <button class="btn-search" type="submit" v-on:click="filterGoods()">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <button class="btn-cart flex-center" type="button" @click="visible=!visible">Корзина</button>
                </div>
            </div>
            <cart v-show="visible" :delete_product='deleteProduct'></cart>
        </header>
        <main>
            <searchresult class="searchResults" v-show="searchResultVisible" :add_product="add_product"></searchresult>
            <div class="products catalog" v-show="!searchResultVisible">
                <productitem v-for="product of products" :key="product.id" :product='product' class="product-item" ></productitem>
            </div>
            <servernotfound v-show="serverNotFound" class="servernotfound"></servernotfound>
        </main>
    </div>    
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/searchresult.js"></script>
    <script src="js/item.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/main.js"></script>
</body>
</html>